
// COLORS

$white: #FFFFFF;
$whiteGrey: #eef7ff;
$chillBlack: #1F1F1F;
$chillGrey: #282c34;
$darkGrey: #21252b;
$blueGrey: #4b5363;

$lightGrey-0: #b3bcc3;
$lightGrey-10: #a3b2be;


$red: #e06c75;  // e06c75
$red-lite: #e06c7596;
$orange: #E89042;
$orange-lite: #f6d0b1;
$green: #98c379;
$green-lite: #d0e4c2;
$yellow: #C7C329; //#C7C329
$lightYellow: #FFFA72;
$lightYellow-lite: #fffa72ad;
$blue: #0A2FC4;
$magenta: #C839C5;
$cyan: #20C5C6;
$greyWhite: #C7C7C7;
$lightBlack: #686868;
$lightRed: #FD6F6B;
$lightGreen: #67F86F;

$lightBlue: #6A76FB;
$lightMagenta: #FD7CFC;
$lightCyan: #68FDFE;


// black       : backgroundColor,
// red         : #e06c75, // red
// green       : #98c379, // green
// yellow      : #d19a66, // yellow
// blue        : #56b6c2, // blue
// magenta     : #c678dd, // pink
// cyan        : #56b6c2, // cyan
// white       : #d0d0d0, // light gray
// lightBlack  : #808080, // medium gray
// lightRed    : #e06c75, // red
// lightGreen  : #98c379, // green
// lightYellow : #d19a66, // yellow
// lightBlue   : #56b6c2, // blue
// lightMagenta: #c678dd, // pink
// lightCyan   : #56b6c2, // cyan
// colorCubes  : #ffffff, // white
// grayscale   : foregroundColor
