@import '../config/variables';
@import '../globals/typography';

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;

  width: 100%;
  padding: 0 2rem;

  background-color: #fdfdfd;
  background-color: #fdfbf3;

  &__service-and-status {
    display: flex;
    align-items: baseline;

    color: $chillGrey;
  }

  &__service-name {
    @include font-size(34, 22);
    padding: 0 1rem 0 0;

  }
  &__update-time {
    @include font-size(34, 22);
    font-weight: 300;

  }


  &__navigation {
    display: flex;
    justify-content: flex-end;

    &-link {
      padding: 0 .5rem;

      color: #5d5d5d;
      text-decoration: none;
      font-weight: 600;

      transition: color .25s ease-in;

      &:hover,
      &:focus {
        color: $chillGrey;
      }

      &--active {
        color: $chillBlack;
      }

    }

  }
}
