@import '../config/variables';
@import '../globals/typography';

// <header class="header">
//   <section class="header__service-and-status">
//     <h1 class="header__service-name">Pageflex</h1>
//     <span class="header__update-time">updated 5 mins ago</span>
//   </section>
//   <ul class="header__status">
//     <li class="header__status-key">
//       <svg class="header__status-key-icon" id="" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="0.25in" height="0.25in" viewBox="0 0 12 12">
//         <title>status-circle</title>
//         <circle cx="6" cy="6" r="6" style="fill: #e06c75"/>
//       </svg>
//       <span class="header__status-key-description">Overdue</span>
//     </li>
//     <li class="header__status-key">
//       <svg class="header__status-key-icon" id="#" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="0.25in" height="0.25in" viewBox="0 0 12 12">
//         <title>status-circle</title>
//         <circle cx="6" cy="6" r="6" style="fill: #E89042"/>
//       </svg>
//       <span class="header__status-key-description">WIP</span>
//     </li>
//     <li class="header__status-key">
//       <svg class="header__status-key-icon" id="" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="0.25in" height="0.25in" viewBox="0 0 12 12">
//         <title>status-circle</title>
//         <circle cx="6" cy="6" r="6" style="fill: #98c379"/>
//       </svg>
//       <span class="header__status-key-description">Complete</span>
//     </li>
//   </ul>
//   <nav class="header__navigation-button">
//     <a href="#">---</a>
//   </nav>
// </header>

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: baseline;

  width: 100%;
  padding: 0 2rem;


  background-color: $chillGrey;

  &__service-and-status {
    display: flex;
    align-items: baseline;

    color: $whiteGrey;
  }

  &__service-name {
    @include font-size(34, 22);
    padding: 0 1rem 0 0;

  }
  &__update-time {
    @include font-size(34, 22);
    font-weight: 300;

  }

  &__status {

    display: grid;
    grid-template-columns: repeat(5, auto);

    justify-content: center;
    align-items: center;

    list-style: none;
  }

  &__status-key {
    display: grid;
    grid-template-columns: auto auto;

    align-items: baseline;
    justify-content: flex-start;
    padding: 0 1rem;

    &:nth-child(1) {
      color: $red;
    }

    &:nth-child(2) {
      color: $orange;
    }

    &:nth-child(3) {
      color: $green;
    }
  }

  &__status-key-icon {
    display: inline-block;
    height: 2vh;

  }

  &__status-key-description {
    padding: 0 1rem;

    @include font-size(28, 22);
  }

  &__navigation-button {
    display: flex;
    justify-content: flex-end;

    a {
      padding: 0 .5rem;

      color: $white;
      text-decoration: none;

      font-weight: 600;

      &:hover,
      &:focus {
        color: $lightGrey-10;
      }

    }
  }

}
