@import '../config/variables';
@import '../globals/typography';


body {
  background-color: #383d48;
  background-color: white;
  background-color: #fdfbf3;
}

.barba-container {

}

main {
  min-height: 100vh;
}
