<section class="barba-container" data-barba="container" data-barba-namespace="pageflex-sites" data-service-name="Pageflex Deployments" data-service-update="">
  <table id="orders" class="orders pageflex-sites">
    <thead class="orders__header">
      <tr class="orders__header-row">
        <th class="orders__header-col">
          <h3>Client/Deployment</h3>
        </th>
        <th class="orders__header-col">
          <h3>Admin</h3>
        </th>
        <th class="orders__header-col">
          <h3>User</h3>
        </th>
      </tr>
    </thead>
    <tbody class="orders__body">
      <tr class="orders__body-row">
        <td class="orders__body-cell">Allen & Overy</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/allenovery/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/allenovery/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">ASB/First Eagle/NATIXIS</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/asb/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/asb/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">BBDO</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/bbdo/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/bbdo/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Cadre</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/cadre/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/bbdo/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Doctors Without Borders</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/doctors/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/doctors/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">EQ Office</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/eq/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/eq/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">FX Fowle</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/fxfowle/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/fxfowle/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Group M</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/groupm/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/groupm/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Harry's</td>
        <td class="orders__body-cell">
          <a href="http://harrys.gsb-skyportal.com/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/groupm/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Herrick</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/herrick/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/herrick/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Hirtle Callaghan & Co</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/hirtle/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/hirtle/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Lazard</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/lazard/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/lazard/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Linklaters</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/linklaters/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/linklaters/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mendes</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/mendes/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/mendes/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Metropolitan Commerical Bank (MCB)</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/MNB/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/MNB/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Moelis</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/moelis/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/moelis/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Titan/Intersection</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/titan/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/titan/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">UBS</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/ubs/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/ubs/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Viacom</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/viacom/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/titan/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">YSL</td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/ysl/AdminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="https://pflex.aldine.com/ysl/Login.aspx">User</a>
        </td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">White & Case</td>
        <td class="orders__body-cell">
          <a href="http://aldine.unifieddev.com/adminLogin.aspx">Admin</a>
        </td>
        <td class="orders__body-cell">
          <a href="http://aldine.unifieddev.com/Login.aspx">User</a>
        </td>
      </tr>




    </tbody>
  </table>
</section>
