<header class="header">
  <section class="header__service-and-status">
    <h1 class="header__service-name">Pressero</h1>
    <span class="header__update-time">updated 5 mins ago</span>
  </section>
  <ul class="header__status">
    <li class="header__status-key">
      <svg class="header__status-key-icon" id="" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="0.25in" height="0.25in" viewBox="0 0 12 12">
        <title>status-circle</title>
        <circle cx="6" cy="6" r="6" style="fill: #e06c75"/>
      </svg>
      <span class="header__status-key-description">Cancelled</span>
    </li>
    <li class="header__status-key">
      <svg class="header__status-key-icon" id="#" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="0.25in" height="0.25in" viewBox="0 0 12 12">
        <title>status-circle</title>
        <circle cx="6" cy="6" r="6" style="fill: #FFFA72"/>
      </svg>
      <span class="header__status-key-description" style="color: #FFFA72;">Not Approved</span>
    </li>
    <li class="header__status-key">
      <svg class="header__status-key-icon" id="" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="0.25in" height="0.25in" viewBox="0 0 12 12">
        <title>status-circle</title>
        <circle cx="6" cy="6" r="6" style="fill: #98c379"/>
      </svg>
      <span class="header__status-key-description">Ready for Production</span>
    </li>
  </ul>
  <nav class="header__navigation-button">
    <a href="/">Vision</a>
    <a href="/skyportal">Sky Portal</a>
    <a href="/pageflex">Pageflex</a>
  </nav>
</header>
<main>
  <table id="orders" class="orders">
    <thead class="orders__header">
      <tr class="orders__header-row">
        <th class="orders__header-col">
          <h3>Site</h3>
        </th>
        <th class="orders__header-col">
          <h3>Product</h3>
        </th>
        <th class="orders__header-col" data-sort-method="number">
          <h3>Order #</h3>
        </th>
        <th class="orders__header-col" data-sort-method="number">
          <h3>Item #</h3>
        </th>
        <th class="orders__header-col">
          <h3>Quantity</h3>
        </th>
        <th class="orders__header-col">
          <h3>Paid?</h3>
        </th>
        <th class="orders__header-col">
          <h3>Approved?</h3>
        </th>
        <th class="orders__header-col" data-sort-method="date">
          <h3>Order Date</h3>
        </th>
        <th class="orders__header-col" data-sort-method="date">
          <h3>Requested Date</h3>
        </th>
      </tr>
    </thead>
    <tbody class="orders__body">
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
      <tr class="orders__body-row">
        <td class="orders__body-cell">Mr Boddington Studio</td>
        <td class="orders__body-cell">Green Daisy Fields (Gift Wrap)</td>
        <td class="orders__body-cell">4883</td>
        <td class="orders__body-cell">15</td>
        <td class="orders__body-cell">200</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">Yes</td>
        <td class="orders__body-cell">3/3/2020</td>
        <td class="orders__body-cell"></td>
      </tr>
    </tbody>
  </table>
</main>
