<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>GSB Order Board</title>
  <meta name="description" content="GSB Order Dashboard">
  <meta name="author" content="Nick Lyons">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="preload" href="fonts/HelveticaNeueThin.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/HelveticaNeueMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/HelveticaNeueBold.woff2" as="font" type="font/woff2" crossorigin>

  <style type="text/css">
    @font-face {
      font-family: "Helvetica Neue";
      src: url('fonts/HelveticaNeueThin.woff2') format('woff2'), url('fonts/HelveticaNeueThin.woff') format('woff');
      font-display: swap;
      font-weight: 300;
    }

    @font-face {
      font-family: "Helvetica Neue";
      src: url('fonts/HelveticaNeueMedium.woff2') format('woff2'), url('fonts/HelveticaNeueMedium.woff') format('woff');
      font-display: swap;
      font-weight: 500;
    }

    @font-face {
      font-family: "Helvetica Neue";
      src: url('fonts/HelveticaNeueBold.woff2') format('woff2'), url('fonts/HelveticaNeueBold.woff') format('woff');
      font-display: swap;
      font-weight: 600;
    }
  </style>
</head>

<body>
  <header class="header">
    <section class="header__service-and-status">
      <h1 class="header__service-name"></h1>
      <span class="header__update-time"></span>
    </section>
    <nav class="header__navigation">
      <a class="header__navigation-link" href="/">Vision</a>
      <a class="header__navigation-link" href="/skyportal">Sky Portal</a>
      <a class="header__navigation-link" href="/pageflex">Pageflex</a>
      <a class="header__navigation-link" href="/pending">Pending</a>
      <a class="header__navigation-link" href="/pageflex-sites">Sites</a>
    </nav>
  </header>
  <main data-barba="wrapper">
    {{{body}}}
  </main>
</body>
<script src="js/gsap.min.js"></script>
<script src="js/barba.core.js"></script>
<script src="js/barba.prefetch.js"></script>
<script src="js/tablesort.min.js"></script>
<script src="js/tablesort.number.min.js"></script>
<script src="js/tablesort.date.min.js"></script>
<script src="js/app.js"></script>
</html>
