@import '../config/variables';
@import '../globals/typography';


body {
  background-color: #383d48;
}

.barba-container {

}

main {
  background-color:#383d48;
  min-height: 100vh;
}

.orders {
  width: 100%;
  border-collapse: collapse;

  &__header {
    display: flex;
    width: 100%;
  }

  &__header-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;

    border-bottom: 1px solid $whiteGrey;
    background-color: #383d48;

    @include font-size(18,16);
    text-align: left;

  }

  &__header-col {
    flex: 1 0 5rem;

    &:last-child {
      border-right: none;
    }

    h3 {
      padding: 0 0 0 2rem;

      font-weight: 600;
      color: white;
    }

  }

  &__body {
    background-color: #383d48;

    color: white;

  }
  &__body-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 4rem;
    padding: 1rem 0;

    border-bottom: 1px solid $whiteGrey;

    @include font-size(18,16);
    text-align: left;

    &-in-process {
      background-color: $green;
      color: black;
    }
    &-cancelled {
      background-color: #e06c75;
    }
    &-unapproved {
      background-color: #FFFA72;
      color: black;
    }
    &-new-order {
      background-color: #E89042;
      color: black;
    }
    &-completed {
      background-color: #FFFFFF;
      color: black;
    }
  }

  &__body-cell {
    flex: 1 0 5rem;
    padding: 0 0 0 2rem;

    font-weight: 500;
  }

}

.skyportal-orders {

  .orders__header-col:nth-child(1), .orders__body-cell:nth-child(1) {
    flex: 1.5 0 5rem;
  }

  .orders__header-col:nth-child(2), .orders__body-cell:nth-child(2) {
    flex: 2.5 0 5rem;
  }

  .orders__header-col:nth-child(3), .orders__body-cell:nth-child(3) {
    flex: 4 0 5rem;
  }

  .header__status-key-description {
    @include font-size(18,16);
  }
}

.pageflex-orders {

  .orders__header-col:nth-child(1), .orders__body-cell:nth-child(1) {
    flex: 1 0 5rem;
  }

  .header__status-key-description {
    @include font-size(18,16);
  }

}

.vision-orders {

  .orders__header-col:nth-child(1), .orders__body-cell:nth-child(1) {
    flex: 2 0 2rem;
  }

  .header__status-key-description {
    @include font-size(18,16);
  }
}


.pending-orders {
  .orders__header-col:nth-child(1), .orders__body-cell:nth-child(1) {
    flex: 1.5 0 5rem;
  }


  .header__status-key-description {
    @include font-size(18,16);
  }
}
